.warning {
    color:red;
}

.hide {
    transform: scale(0);
    opacity: 0;
}

#footer {
    width: 100%;
    text-align: center;
}

img {
    border: 0;
    width: 100%;
    object-fit: contain;
}

.half {
    width: 40%;
    float: left;
    margin: 0 5%;
}